<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mind Guard</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-screen">

    <!-- First Div -->
    <div class="w-full h-1/2 bg-zinc-300 flex items-center justify-center text-lg font-semibold">
        Mind Guard
    </div>

    <!-- Second Div -->
    <div class="w-full h-1/2 bg-red-500 flex items-center justify-center text-white text-2xl">
        Hello
    </div>

</body>
</html>
