<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mind Guard</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-screen">

    <!-- First Div -->
    <div class="bg-gray-800 h-1/6 p-4 flex justify-center items-center space-x-4 ">
        <a href="#take-test" class="text-white hover:bg-gray-700 px-4 py-2 rounded">Take Test</a>
        <a href="#profile" class="text-white hover:bg-gray-700 px-4 py-2 rounded">Profile</a>
        <a href="#daily-activities" class="text-white hover:bg-gray-700 px-4 py-2 rounded">Daily Activities</a>
        <a href="#tutorials" class="text-white hover:bg-gray-700 px-4 py-2 rounded">Tutorials</a>
    </div>

    <!-- Second Div -->
    <div class="w-full h-5/6 bg-red-500 flex items-center justify-center text-white text-2xl text-zinc-700">
        <div class="w-1/2 h-full bg-zinc-200">
      <p class="flex justify-center items-center "></p>
        </div>
        <div class="w-1/2 h-full bg-zinc-400">
            <p class="flex justify-center items-center"></p>
        </div>
    </div>

</body>
</html>
