<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Health Tutorials</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white text-blue-900">
    <div class="container mx-auto px-4 py-10">
        <h1 class="text-4xl font-bold text-center mb-8">Mental Health Tutorials</h1>
        
        <div class="grid md:grid-cols-2 gap-6">
            <div class="bg-blue-100 p-4 rounded-lg shadow-md">
                <img class="w-full h-full object-cover rounded-md" src="https://i.ytimg.com/vi/wOGqlVqyvCM/hq720.jpg?sqp=-oaymwEnCNAFEJQDSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLCI20A5q8zI3uoIVvR4HkcnetB9Tw" alt="The Science of Depression">
                <h2 class="text-xl font-semibold mt-4">Tips for mental Health</h2>
                <a href="https://youtu.be/wOGqlVqyvCM?si=6qzwqhCcSmQPLNas" target="_blank" class="block mt-2 text-center text-white bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded-md">Play Video</a>
            </div>
            
            <div class="bg-blue-100 p-4 rounded-lg shadow-md">
                <img class="w-full h-full object-cover rounded-md" src="https://i.ytimg.com/vi/TFbv757kup4/hqdefault.jpg?sqp=-oaymwEnCOADEI4CSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLAR3afjwbOSOO2uOQxxWt7CpzdAxA" alt="How Stress Affects Your Brain">
                <h2 class="text-xl font-semibold mt-4">The Secret of Becoming Mentally Strong </h2>
                <a href="https://youtu.be/TFbv757kup4?si=Cv3CxGoFDsOOyIAM" target="_blank" class="block mt-2 text-center text-white bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded-md">Play Video</a>
            </div>
        </div>
    </div>
</body>
</html>
