<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOGA Tutorials</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white text-blue-900">
    <div class="container mx-auto px-4 py-10">
        <h1 class="text-4xl font-bold text-center mb-8">YOGA Tutorials</h1>
        
        <div class="grid md:grid-cols-2 gap-6">
            <div class="bg-blue-100 p-4 rounded-lg shadow-md">
                <img class="w-full h-full object-cover rounded-md" src="https://i.ytimg.com/vi/I77hh5I69gA/hqdefault.jpg?sqp=-oaymwEnCPYBEIoBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLBFu89FzeQS6AzeRX5TymUnGHfecg" alt="The Science of Depression">
                <h2 class="text-xl font-semibold mt-4">Daily Pranayama under 15-Minutes</h2>
                <a href="https://youtu.be/I77hh5I69gA?si=7P07f5kQa02irMwk" target="_blank" class="block mt-2 text-center text-white bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded-md">Play Video</a>
            </div>
            
            <div class="bg-blue-100 p-4 rounded-lg shadow-md">
                <img class="w-full h-full object-cover rounded-md" src="https://i.ytimg.com/vi/tA8E4l8Dj34/hqdefault.jpg?sqp=-oaymwEnCPYBEIoBSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLDdZlqIiaO7BEDM1i6e59Aghuvbjg" alt="How Stress Affects Your Brain">
                <h2 class="text-xl font-semibold mt-4">10-Minute Yoga for Beginners  </h2>
                <a href="https://youtu.be/tA8E4l8Dj34?si=Zj7-JJgaqjEs5pKO" target="_blank" class="block mt-2 text-center text-white bg-blue-600 hover:bg-blue-700 px-4 py-2 rounded-md">Play Video</a>
            </div>
        </div>
    </div>
</body>
</html>
